body{
    font-family: 'Playwrite IT Moderna', 'Varela Round';
    position: relative;
}

hr{  
    border: 1px solid;
    border-color: #0C3354; 
}

/*----------------------------------------------------------------------------------\
|                                                                                   |
|                                       @NAVBAR                                     |
|                                                                                   |
\---------------------------------------------------------------------------------*/

#nav {
    background-color: #0C3354;
    position: fixed;
}

#nav .nav-link.active {
    outline: none;
    width: fit-content;
  }

@media screen and (min-width: 992px){
    #nav {
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }

    #nav.navbar-shrink {
        background-color: #0C3354;
      }

      #nav.navbar-shrink .nav-link.active {
        color: white;
        outline: none;
        border-bottom: 0.25rem solid rgb(182, 179, 179);
      }
}


/*----------------------------------------------------------------------------------\
|                                                                                   |
|                                       @HEADER                                     |
|                                                                                   |
\---------------------------------------------------------------------------------*/

.header{
    position: relative;
    width: 100%;
    min-height: 35rem;
    height: auto;
    background: url(images/background2.jpg);
    
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15rem 0;
    
}

@media screen and (max-width: 767px){
    .header{
        padding: 10rem 1rem 3rem;
    }
}

@media screen and (min-width: 992px){
    .header{
        height: 100vh;
        padding: 0;
    }

    .description{
        width: 50%;
    }
}

@media screen and (max-width: 991px){
    .description{
        width: 100%;
    }
}

.header h1{
    letter-spacing: 0.8rem; 
}

.socials{
    position: fixed;
    opacity: 0.2;
    background-color: #f5efef;
    float: left;
    transition: 0.5s;
}

.socials:hover{
    opacity: 1;
    background-color: #e9dddd;
}

@media screen and (max-width: 991px) {
    .socials{
        display: none !important;
    }
}

.socials a{
    background: transparent;
    color: rgb(41, 41, 41);
}

.mainText{
    letter-spacing: 2px;
}

.description{
    background: #E9D9C8;
    color: #0C3354;
    opacity: 0.9;
    justify-content: center;
    padding: 3rem 1rem;
}

.header .btn {
    width: fit-content;
    background-color: #0C3354;
    color: white;
}

/*----------------------------------------------------------------------------------\
|                                                                                   |
|                                       @ABOUT                                      |
|                                                                                   |
\---------------------------------------------------------------------------------*/

.about-section{
    background-image: linear-gradient(#0C3354 40%, white);
    padding-bottom: 5rem;
    
}

@media screen and (max-width: 991px){
    /*.about-section{
        padding: rem 1rem;
    }*/

    .about-text{
        padding-top: 1rem;
    }

}

.about-image {
    padding: 8rem 3rem 3rem 3rem;
}

/*.about-text {
    font-size: larger;
}*/

.about-services{
    margin-top: 2rem;     
   
}

.about-services .card{
    background: #464124b2;
    color: white;
}


/*----------------------------------------------------------------------------------\
|                                                                                   |
|                                       @GALLERY                                    |
|                                                                                   |
\---------------------------------------------------------------------------------*/

.gallery-section {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.display-images{
    width: 100%;
    height: 350px;
    object-fit: cover;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .display-images{
        width: 100%;
        height: 550px;
        object-fit: cover;
        overflow: hidden;
    }
    
}

.imageButtons{
    font-family: 'Varela Round', 'Playwrite IT Moderna';
}

.gallery-section img {
    filter: grayscale(50%);
}

.gallery-section ul button{
    color: white;
    background-color: #0C3354;
}

.gallery-section ul button:hover {
    background-color: #464124;
    color: white;
}


/*----------------------------------------------------------------------------------\
|                                                                                   |
|                                       @GALLERY2                                   |
|                                                                                   |
\---------------------------------------------------------------------------------*/

.gallery2-section {
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin-top: 6rem;
}

.gallery2-section ul button{
    color: white;
    background-color: #0C3354;
}

.gallery2-section ul button:hover {
    background-color: #464124;
    color: white;
}

.gallery2-section img {
    filter: grayscale(50%);
}

.gallery2-section {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

#nav2 {
    background-color: #0C3354;
    position: fixed;
}

#nav2 .nav-link.active {
    outline: none;
    width: fit-content;
  }

@media screen and (min-width: 992px){

    #nav2.navbar-shrink {
        background-color: #0C3354;
      }

      #nav2.navbar-shrink .nav-link.active {
        color: white;
        outline: none;
        border-bottom: 0.25rem solid rgb(182, 179, 179);
      }
}

.moreOptions{
    font-family: 'Varela Round';
}

/*----------------------------------------------------------------------------------\
|                                                                                   |
|                                       @CONTACT                                    |
|                                                                                   |
\---------------------------------------------------------------------------------*/



.contact-cards{
    height: 8rem;
    width: 15rem;
}

.contacts-section .card{
    background-color: #0c3454cb;
    color:  white;
}

.contacts-section{
    padding-top: 10rem;
    background-image: linear-gradient(to top, #464124 10%, white);
}

@media screen and (min-width: 1200px) {
    .map{
        height: 550px;
    }
}

.contacts{
    padding-top: 0rem;
    text-align: center;
    
}

@media screen and (max-width: 767px) {
    .contacts-section{
        padding-top: 3rem;
    }

    .contacts p{
        line-height: 50%;
        font-size: smaller;
    }

    .contacts .fa-phone{
        font-size: 1rem;
    }

    .contacts .fa-envelope{
        font-size: 1rem;
    }

    .contacts .fa-whatsapp{
        font-size: 1rem;
    }

}

@media screen and (min-width: 768px) {
    .contacts{
        text-align: center;
        justify-content: end;
    }

    .contacts-section h4{
        font-size: larger !important;
    }
}

.contacts-socials i{
    color: rgb(41, 41, 41);
}


/*----------------------------------------------------------------------------------\
|                                                                                   |
|                                       @FOOTER                                     |
|                                                                                   |
\---------------------------------------------------------------------------------*/

#footer{
    background-color: #0C3354;
    padding: 50px;
    color: white;
}

.fa-envelope{
    color: #0C3354;
}

.fa-whatsapp{
    color: #128C7E;
}

@media screen and (max-width: 767px){
    #footer{
        padding: 30px;
    }
}
